{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: white">
                        <div class="card-body text-info">
                            <h1>Технологии применения Big Data в медицине</h1>
                            <h5>Big Data имеет значительное влияние на различные отрасли, включая медицину. Вот несколько примеров того, как технологии Big Data применяются в медицине:</h5>
                                <h5>1 Хранение и обработка больших объемов данных.</h5>
                                <h5>2 Алгоритмы машинного обучения и искусственного интеллекта (ИИ).</h5>
                                <h5>3 Интеграция данных.</h5>
                                <h5>4 Анализ изображений и обработка естественного языка.</h5>
                                <h5>5 Интернет вещей (IoT).</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
