{% extends 'base.html' %}

{% block content %}
    <div style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: white">
                        <div class="card-body text-info">
                            <h1>Применение Big Data</h1>
                            <h5>Применение Big Data (аналитики больших данных) в сфере здравоохранения предоставляет огромный потенциал для улучшения качества здравоохранения, оптимизации процессов и принятия обоснованных решений. Вот несколько основных областей, где Big Data находит применение в медицине:</h5>
                                <h5>1 Диагностика и прогнозирование заболеваний.</h5>
                                <h5>2 Персонализированная медицина.</h5>
                                <h5>3 Управление здравоохранением и оптимизация процессов.</h5>
                                <h5>4 Медицинские исследования и разработка.</h5>
                                <h5>5 Обеспечение безопасности пациентов.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
